<div class="dialog-overlay" role="alertdialog">
  <div class="dialog-overlay__content">
    <div class="dialog-overlay__content__container">
      <div class="dialog-overlay__content__container__icon">
        <div class="dialog-overlay__content__container__icon__content">!</div>
      </div>

      <h2 class="dialog-overlay__content__container__title">
        {{ confirmDialogOptions().title }}
      </h2>
      <p
        class="dialog-overlay__content__container__message"
        data-test="dialog-message"
      >
        {{ confirmDialogOptions().message }}
      </p>
      <div class="dialog-overlay__content__container__actions">
        <button
          (click)="confirm()"
          class="dialog-overlay__content__container__actions__confirm button"
        >
          {{ confirmDialogOptions().confirmButtonText }}
        </button>
        <button
          (click)="cancel()"
          class="dialog-overlay__content__container__actions__cancel button--secondary"
        >
          {{ confirmDialogOptions().cancelButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>
