.navbar {
  display: flex;
  padding: 1.2rem;
  box-shadow: 0px 5px 10px 0px #aaa;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  justify-content: space-between;

  &__logo {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    justify-content: center;
  }

  &__user-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    &__logo {
      display: block;
      position: relative;
      height: 64px;
    }
  }
}

.dropdown-button {
  &::before {
    content: attr(data-info) !important;
	font-size: 1rem;
	font-weight: 600;
  }
}

.dropdown-content {
 
  right: 10px;
  padding: 1rem;
}
