<main class="p-10">
  <form class="search-form">
    <input
      data-test="input-search-product"
      class="search-form__input"
      type="search"
      aria-label="search"
      placeholder="Buscar"
      [formControl]="filter"
    />
    <button
      btn
      class="search-form__add"
      type="button"
      routerLink="create"
      data-test="btn-add"
    >
      <span class="icon icon-plus"></span>Agregar
    </button>
  </form>

  <table class="rwd-table">
    <tbody>
      <tr>
        @for (column of displayedColumns; track $index) {
        <th data-test="table-column">
          {{ column }}
        </th>
        }
      </tr>

      @for (product of listProduct() | pagination : pagination().currentPage() :
      pagination()?.pageSize(); track product.id) {
      <tr tabindex="0">
        <td data-th="Logo">
          <img
            [src]="product.thumbnail"
            height="100"
            width="100"
            [alt]="product.title"
          />
        </td>

        <td data-th="ID">
          {{ product.id }}
        </td>

        <td data-th="Nombre">
          {{ product.title }}
        </td>

        <td data-th="Descripcion">
          {{ product.description }}
        </td>

        <td data-th="Fecha Cración">
          {{ product.meta.createdAt | date : 'YYYY/MM/dd' : '+0000' }}
        </td>

        <td data-th="Fecha Actualización">
          {{ product.meta.updatedAt | date : 'YYYY/MM/dd' : '+0000' }}
        </td>

        <td data-th="Acciones" class="table-actions">
          <div class="dropdown">
            <button
              tabindex="-1"
              data-test="btn-dropdown"
              type="button"
              class="dropdown-button"
              aria-label="dropdown-options"
            >
              <div class="dropdown-content" data-test="dropdown-content">
                <span
                  tabindex="0"
                  role="button"
                  data-test="btn-edit"
                  class="icon icon-[tabler--pencil]"
                  style="height: 1.25rem; width: 1.25rem"
                  [routerLink]="['update', product.id]"
                ></span>
                <span
                  tabindex="0"
                  role="button"
                  data-test="btn-delete"
                  style="height: 1.25rem; width: 1.25rem"
                  class="icon icon-[tabler--letter-x]"
                  appConfirmDialog
                  title="Eliminar Registro"
                  [message]="
                    '¿Esta seguro de eliminar el producto ' +
                    product.title +
                    ' ?'
                  "
                  cancelButtonText="Cancelar"
                  confirmButtonText="Confirmar"
                  (confirm)="confirmDelete(product.id)"
                ></span>
              </div>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="product-paginator">
    <app-pagination
      [pageSize]="5"
      [collectionSize]="listProduct().length"
      [maxSize]="2"
      firstLastButtons
    />
  </div>
</main>
