.paginator {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  &___options {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__size {
      height: 45px;
      width: 80px;
    }

    &__result-total {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      text-align: center;
      font-weight: 600;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    .options-paginator {
      margin-left: auto;
    }
  }
}

.page-steeps {
  margin-bottom: 2rem;
  margin-left: auto;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &__page-item {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-right: 1rem;
      padding-left: 1rem;

      &--active {
        font-weight: 600;
        background-color: #fae04f;
      }

      &:hover {
        background-color: #fae04f;
      }
    }
  }

  @media (max-width: 600px) {
    .button {
      padding: 8px 16px;
    }
  }
}
