<div class="paginator">
  <div class="paginator__options">
    <select
      class="paginator__options__size"
      (change)="onChangeSize($event)"
      id="select-pagination-size"
      aria-label="select pagination"
    >
      @for (size of listPageSize(); track i; let i = $index) {
      <option [selected]="i === 0" [value]="size">
        {{ size }}
      </option>
      }
    </select>
    <p class="paginator___options__result-total">
      {{ collectionSize() }} Resultados
    </p>
  </div>

  <ng-container *ngTemplateOutlet="paginator" />
</div>

<ng-template #paginator>
  <div class="page-steeps">
    <div class="page-steeps__container">
      <!-- first button -->
      @if (firstLastButtons()) {

      <button [disabled]="isFirstPage()" (click)="selectPageNumber(1)">
        ««
      </button>

      }

      <!-- previous button -->
      @if (nextPreviousButtons()) {

      <button [disabled]="isFirstPage()" (click)="previous()">«</button>

      }

      <!-- page numbers -->
      @for (p of totalPages(); track i ; let i = $index) { @if (i + 1 >=
      currentPage() - maxSize() && i + 1 <= currentPage() + maxSize()) {

      <button
        class="page-steeps__container__page-item"
        [class.page-steeps__container__page-item--active]="
          currentPage() === i + 1
        "
        (click)="selectPageNumber(i + 1)"
      >
        {{ i + 1 }}
      </button>

      } }

      <!-- next button -->
      @if (nextPreviousButtons()) {

      <button [disabled]="isLastPage()" (click)="next()">»</button>

      }

      <!-- last button -->
      @if (firstLastButtons()) {

      <button
        [disabled]="isLastPage()"
        (click)="selectPageNumber(totalPages().length)"
      >
        »»
      </button>

      }
    </div>
  </div>
</ng-template>
