<form [formGroup]="productForm" class="product__form">
  <div class="product__form__group">
    <div class="product__form__group__input-group">
      <label for="id">ID</label>
      <input
        type="text"
        placeholder="ID"
        class="form-control"
        formControlName="id"
        maxlength="10"
        [customErrors]="{
          alreadyExist: 'Ya fue registrado previamente este producto'
        }"
      />
    </div>

    <div class="product__form__group__input-group">
      <label for="title">Titulo</label>
      <input
        type="text"
        placeholder="Titulo"
        class="form-control"
        formControlName="title"
        maxlength="100"
        [customErrors]="{
          minlength: 'Titulo requiere minimo 5 caracteres'
        }"
      />
    </div>
  </div>

  <div class="product__form__group__input-group">
    <div class="product__form__group__input-group">
      <label for="description">Descripción</label>
      <input
        type="text"
        placeholder="Descripción"
        class="form-control"
        formControlName="description"
        maxlength="200"
      />
    </div>
    <div class="product__form__group__input-group">
      <label for="logo">Precio</label>
      <input
        type="number"
        placeholder="Precio"
        class="form-control"
        formControlName="price"
      />
    </div>
  </div>

  <div class="product__form__group__input-group">
    <div class="product__form__group__input-group">
      <label for="date_release">Categoria</label>
      <input
        type="text"
        placeholder="Categoria"
        class="form-control"
        formControlName="category"
      />
    </div>
  </div>
</form>
<pre> {{ this.productForm.invalid | json }}</pre>
<pre> {{ this.productForm.value | json }}</pre>
