.product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &__group {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      &__input-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 2rem;

      gap: 1rem;
      button {
        width: 50%;
        min-height: 40px;
        padding: 0.5rem;
      }
    }
  }
}
.is-loading {
  padding-right: 36px;

  background-image: url('/assets/svg/spinner.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
}
