.button {
  @apply border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2;

  background: none;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.button--primary {
  @apply bg-indigo-600 hover:bg-indigo-700  focus:ring-indigo-500;
}

.button--secondary {
  @apply bg-slate-400 hover:bg-slate-500  focus:ring-slate-400;
}
