<div
	[ngClass]="{
		fadeInDown: setting().isModal || setting().isDialog,
		fadeOutUp: !show() && (setting().isModal || setting().isDialog)
	}"
	role="dialog"
	[class.modal-container]="setting().isModal"
	[class.dialog-container]="setting().isDialog"
	[class.bottom-sheet-container]="setting().isBottomSheet"
>
	@if (!setting().isBottomSheet) {
		<div
			[class.modal-content]="setting().isModal"
			[class.dialog-content]="setting().isDialog"
			[ngStyle]="style()"
		>
			<button type="button" role="close menu" class="btn-close-modal" (click)="close()">
				&times;
			</button>
			<ng-content select="[modalBody]" #element />
		</div>
		<div class="bottom-sheet-container__outside" (click)="close()"></div>
	} @else {
		<div class="bottom-sheet-container__outside" (click)="close()"></div>
		<div
			[ngClass]="{
				slideInBottom: show() && setting().isBottomSheet,
				slideInTop: !show() && setting().isBottomSheet
			}"
			class="bottom-sheet-container__content"
			[ngStyle]="style()"
		>
			<ng-content select="[bottomSheetBody]" />
		</div>
	}
</div>
