<main class="create-product">
  <h1 class="create-product__title">Formulario de Registro</h1>
  <hr class="w-full" />
  <form>
    <app-product-form [formControl]="createProductForm" />
  </form>

  <div class="create-product__actions">
    <button
      class="button--secondary"
      type="button"
      routerLink="/product"
      data-test="btn-back"
    >
      Atras
    </button>

    <button
      class="button"
      type="button"
      [disabled]="createProductForm.invalid"
      (click)="create()"
    >
      Enviar
    </button>
  </div>
</main>
