<div
  class="toast_wrapper"
  data-test="toast-wrapper"
  (click)="this.hide()"
  [@openClose]="data().show ? 'open' : 'closed'"
>
  @if (data()) {
  <div
    class="inner_wrapper"
    [class.toast-success]="data().type === 0"
    [class.toast-warn]="data().type === 1"
    [class.toast-error]="data().type === 2"
  >
    <div class="flex">
      <div class="toast_content">
        <p class="toast_title" data-test="toast-title">
          {{ data().title }}
        </p>
        <p class="toast_text" data-test="toast-message">
          {{ data().message }}
        </p>
      </div>
    </div>
  </div>
  }
</div>
