<div
	class="toast_wrapper"
	data-test="toast-wrapper"
	(click)="this.toastService.hide()"
	[@openClose]="toastService.data && toastService.data.show ? 'open' : 'closed'"
>
	<ng-container *ngIf="toastService.data">
		<div
			class="inner_wrapper"
			[class.toast-success]="toastService.data.type === 0"
			[class.toast-warn]="toastService.data.type === 1"
			[class.toast-error]="toastService.data.type === 2"
		>
			<div class="flex">
				<div class="toast_content">
					<p class="toast_title" data-test="toast-title">
						{{ toastService.data.title }}
					</p>
					<p class="toast_text" data-test="toast-message">
						{{ toastService.data.message }}
					</p>
				</div>
			</div>
		</div>
	</ng-container>
</div>
