/*-----------------------------------------
 Custom Scrollbar Styles
 -----------------------------------------*/
/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(192, 192, 192);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #cbd5e0;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #86898e;
}

/* width */
::scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::scrollbar-track {
	box-shadow: inset 0 0 5px rgb(192, 192, 192);
	border-radius: 10px;
}

/* Handle */
::scrollbar-thumb {
	background-color: #cbd5e0;
	border-radius: 10px;
}

/* Handle on hover */
::scrollbar-thumb:hover {
	background-color: #86898e;
}
