.table {
	font-family: 'Quicksand';
	font-size: 1rem;
}

.rwd-table {
	margin: auto;
	width: 95%;
	min-width: 300px;
	max-width: 100%;
	border-collapse: collapse;
}

.rwd-table tr:first-child {
	border-top: none;
	background: #f9fafc;
	color: black;
}

.rwd-table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
	background-color: #ebf3f9;
}

.rwd-table th {
	font-weight: 600;
	display: none;
}

.rwd-table td {
	display: block;
}

.rwd-table td:first-child {
	margin-top: 0.5em;
}

.rwd-table td:last-child {
	margin-bottom: 0.5em;
}

.rwd-table td:before {
	content: attr(data-th) ': ';
	font-weight: bold;
	width: 160px;
	display: inline-block;
	color: #000;
}

.rwd-table th,
.rwd-table td {
	text-align: left;
}

.rwd-table {
	color: #333;
	border-radius: 0.4em;
}

.rwd-table tr {
	border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
	padding: 0.5em 1em;
}

.table-actions {
	display: flex !important;
	.icon {
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		margin-left: 2rem;
	}
}

@media screen and (max-width: 879px) {
	.rwd-table tr:nth-child(2) {
		border-top: none;
	}
}
@media screen and (min-width: 878px) {
	.rwd-table tr:hover:not(:first-child) {
		background-color: #d8e7f3;
	}
	.rwd-table td:before {
		display: none;
	}
	.rwd-table th,
	.rwd-table td {
		display: table-cell;
		padding: 0.25em 0.5em;
	}
	.rwd-table th:first-child,
	.rwd-table td:first-child {
		padding-left: 0;
	}
	.rwd-table th:last-child,
	.rwd-table td:last-child {
		padding-right: 0;
	}
	.rwd-table th,
	.rwd-table td {
		padding: 1em !important;
	}
}

@-webkit-keyframes leftRight {
	0% {
		-webkit-transform: translateX(0);
	}
	25% {
		-webkit-transform: translateX(-10px);
	}
	75% {
		-webkit-transform: translateX(10px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@keyframes leftRight {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-10px);
	}
	75% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}
